---
import { SITE_NAME } from "../consts";
import ToggleTheme from "./ToggleTheme";
---

<div
  class="rounded-md border-2 border-neutral-300 dark:border-neutral-700 container mx-auto md:max-w-4xl p-2.5 fixed top-0.5 left-0 right-0 z-50 flex justify-between items-center bg-neutral-100 dark:bg-neutral-800"
>
  <a class="text-md button h-10 flex items-center justify-center rounded-md hover:bg-neutral-200 dark:hover:bg-neutral-700 text-orange-600 dark:text-orange-400" href="/"
    >Home</a
  >

  <div class="flex items-center space-x-4 ">
    <div>
    <a class="button h-10 flex items-center justify-center rounded-md hover:bg-neutral-200 dark:hover:bg-neutral-700  text-teal-600 dark:text-teal-400" href="/misc/about">About</a>
    </div>
    <div>
    <ToggleTheme client:idle />
    </div>
  </div>
    
</div>
